html,
body {
  background-color: #BFF1F1;
}
.container {
  text-align: center;
}
img {
  width: 100%;
  margin-top: -50px;
}
h1, h2 {
  font-family: 'Dancing Script', cursive;
}
h1 {
  font-size: 80px;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 30px;
}
p {
  font-family: 'Cambria', serif;
}
.row {
  display; inline;
}
.glyphicon {
  font-size: 30px;
}
