#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: relative;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.inner,
.cover {
  z-index: 1;
  position: relative;
}
body {
  font-family: 'Dancing Script', cursive;
  color: #00FFFF;
}
h1 {
  font-size: 80px;
}
.cover-heading ~ p {
  font-size: 25px;
}
.btn {
  font-family: "Century Gothic", sans-serif;
  font-weight: normal;
}
